{% extends 'org_base.html' %}

{% block title %}
机构介绍
{% endblock %}

{% block custom_bread %}
<section>
	<div class="wp">
		<ul  class="crumbs">
            <li><a href="{% url 'index' %}">首页</a>></li>
			<li><a href="{% url 'org:org_list' %}">课程机构</a>></li>
			<li>机构介绍</li>
		</ul>
	</div>
</section>
{% endblock %}

{% block content %}
<div class="right companycenter layout" >
        <div class="head">
            <h1>机构介绍</h1>
        </div>
        <div class="des">
            <p>{{ org.desc }}</p>

        </div>
    </div>
{% endblock %}
